In [11]:
import os
import csv
import pandas as pd
from pandas_profiling import ProfileReport
from sklearn.decomposition import FactorAnalysis

In [19]:
df_scores = pd.read_csv(os.path.join('data', '12_subject_scores.csv'), sep='\t')

In [20]:
df_scores

,国語,英語,数学,物理,化学,生物,地学,世界史,日本史,経済,地理,倫理
0,-0.394296,-0.863552,0.299784,0.052264,-0.193747,1.762086,-0.458840,-0.889665,-0.163093,-0.939310,-0.149300,-2.286900
1,-1.062188,-0.061273,-0.572619,-0.544283,-0.305108,1.988985,-0.166363,0.610966,-0.951714,1.390854,-0.226003,-0.031098
2,-0.669470,-0.751437,0.574793,-0.379771,-0.539259,-0.623499,-1.034320,0.393436,1.439274,2.218160,0.716289,-0.462702
3,0.776026,1.166164,-0.986413,-0.723857,-0.091960,-0.150870,-0.047286,-2.427921,0.433994,-1.270779,0.323981,1.406393
4,-2.212173,-0.571762,-0.842556,-0.849638,-0.280362,-1.089733,-0.836957,-0.812882,-1.702264,-0.365675,-0.113076,-2.497812
...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.067315,-0.414213,0.205692,1.121977,0.024523,1.651374,0.656223,0.028255,-0.366287,-0.400895,-1.942420,-1.012975
996,1.067010,0.437286,1.089453,1.139867,1.552414,0.547713,1.696316,0.354845,-0.980622,0.098985,-0.154127,0.459916
997,1.085926,0.456910,0.896640,-1.132649,-0.679458,0.956979,0.626218,0.546594,2.276289,1.800697,0.061569,-0.837429
998,0.401347,1.357951,-0.630271,-1.772562,-0.506372,-1.227507,1.959531,1.836228,1.672870,2.169716,3.522907,0.550680
999,-2.648511,0.238283,0.504463,0.699508,0.408640,0.489982,0.247089,-1.639435,-2.962802,-0.979068,-1.205418,-1.360033

In [22]:
display(df_scores.describe())

,国語,英語,数学,物理,化学,生物,地学,世界史,日本史,経済,地理,倫理
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,-0.010089,-0.042211,-0.003682,-0.051710,-0.006481,-0.036420,-0.022611,-0.041581,-0.053731,0.014815,-0.008568,-0.033251
std,0.995078,1.016360,0.999122,0.977206,1.025088,1.039087,1.029798,0.990281,1.009654,0.988610,0.982288,1.050754
min,-3.416756,-3.155252,-3.080833,-2.931218,-3.098775,-3.282151,-2.878050,-3.661941,-3.183342,-2.912544,-2.941501,-3.253023
25%,-0.700112,-0.714549,-0.675039,-0.708696,-0.718682,-0.759295,-0.742097,-0.713674,-0.761428,-0.669257,-0.693002,-0.774409
50%,0.014930,0.010007,0.002503,-0.048876,-0.040991,0.006117,-0.012499,-0.051340,-0.018274,0.019602,0.003966,-0.065331
75%,0.674855,0.636507,0.608149,0.600204,0.682366,0.656197,0.685734,0.651264,0.633814,0.667424,0.636094,0.660389
max,3.098545,2.769637,3.718981,3.092036,3.295149,3.023081,2.991380,2.850458,3.051229,3.296786,3.522907,2.961954

In [23]:
n_factors = 3
fa = FactorAnalysis(n_components=n_factors, random_state=57)
fa.fit(df_scores)

FactorAnalysis(n_components=3, random_state=57)

In [28]:
df_factor_loading = pd.DataFrame(fa.components_.T, columns=[f'factor_{i}' for i in range(n_factors)], index=df_scores.columns)

df_factor_loading

     factor_0  factor_1  factor_2
国語   0.424830  0.042310  0.045879
英語   0.396803  0.019841  0.003356
数学   0.267833 -0.228228  0.426671
物理   0.333521 -0.227727  0.465732
化学   0.374489 -0.260843 -0.018009
生物   0.539763 -0.276686 -0.221706
地学   0.545769 -0.226323 -0.198098
世界史  0.352843  0.456696  0.073381
日本史  0.329097  0.471060  0.061778
経済   0.381051  0.074258 -0.204620
地理   0.312257  0.450333  0.112530
倫理   0.576937 -0.019047 -0.173940

factor analysis with varimax rotation

In [33]:
from factor_analyzer import FactorAnalyzer

In [34]:
fa_varimax = FactorAnalyzer(rotation='varimax',  n_factors=n_factors)

In [35]:
fa_varimax.fit(df_scores)

FactorAnalyzer(rotation='varimax', rotation_kwargs={})

In [36]:
pd.DataFrame(fa_varimax.loadings_, index=df_scores.columns, columns=[f'factor_{i}' for i in range(n_factors)])

     factor_0  factor_1  factor_2
国語   0.324307  0.249124  0.173094
英語   0.318360  0.203962  0.135381
数学   0.091304  0.008361  0.530022
物理   0.122791  0.049573  0.628060
化学   0.379324 -0.052745  0.217609
生物   0.605004 -0.029549  0.100704
地学   0.586772  0.018298  0.106175
世界史  0.093010  0.575552  0.015465
日本史  0.075941  0.564058 -0.004933
経済   0.380906  0.207406 -0.075955
地理   0.045506  0.564784  0.034449
倫理   0.550024  0.218579  0.051444

In [37]:
fa_promax = FactorAnalyzer(rotation='promax', n_factors=n_factors)

In [38]:
fa_promax.fit(df_scores)

FactorAnalyzer(rotation_kwargs={})

In [40]:
pd.DataFrame(fa_promax.loadings_, index=df_scores.columns, columns=[f'factor_{i}' for i in range(n_factors)])

     factor_0  factor_1  factor_2
国語   0.273062  0.193512  0.117332
英語   0.285278  0.145854  0.077727
数学  -0.026897  0.000776  0.547991
物理  -0.023861  0.039741  0.646602
化学   0.390417 -0.139856  0.149648
生物   0.670834 -0.171122 -0.024671
地学   0.638352 -0.115732 -0.014293
世界史 -0.022819  0.591623  0.002632
日本史 -0.034794  0.582878 -0.015619
経済   0.407210  0.129511 -0.162327
地理  -0.079198  0.591794  0.033235
倫理   0.566345  0.104872 -0.062674